/* color palette from <https://github.com/vuejs/theme> */
// custom font used globally, used in _variables $font-face
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-display: block;
}

@import './stylesheets/variables';
@import './stylesheets/mixins';


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-weight: normal;
  font-family: $font-face;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 16px 0;
}
