@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-display: block;
}

@font-face {
  font-family: 'WorkSans';
  src: url('@/assets/fonts/WorkSans.woff2') format('woff2');
  font-weight: 100 900;
  font-display: block;
}
