$font-face: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif';

//color variables
$white: #FFF;
$whiteSoft: #F8F8F8;
$whiteMute: #F2F2F2;

$black: #181818;
$blackSoft: #222222;
$blackMute: #282828;
$blackQuiet: #333333;

$dividerLight1: rgba(60, 60, 60, 0.29);
$dividerLight2: rgba(60, 60, 60, 0.12);
$dividerDark1: rgba(84, 84, 84, 0.65);
$dividerDark2: #141414;

$bubbleGreen: #89f693;
$bubbleGreenLight: #b8fabe;
$bubbleGreenDark: #265F46;

$textDark1: rgba(235, 235, 235, 0.64);
$textLight1: rgba(60, 60, 60, 0.66);

$zIndexFront: 999;
