apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.30.0 (9d8dcb518)
  creationTimestamp: null
  labels:
    io.kompose.service: app
  name: app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: app
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml
        kompose.version: 1.30.0 (9d8dcb518)
      creationTimestamp: null
      labels:
        io.kompose.network/iot-system-prototype-default: "true"
        io.kompose.service: app
    spec:
      containers:
        - env:
            - name: API_HOST
              value: http://api:8080
          image: ghcr.io/button-inc/iot-system-prototype/app:38bd28cbfd10f1b4d3d80ce30519cb667ff8f1c3
          name: app
          ports:
            - containerPort: 3000
              protocol: TCP
          resources: {}
      imagePullSecrets:
      - name: ghcr-secret
      restartPolicy: Always
status: {}
